html {
    background-color: black;
}
body {
    background-color: crimson;
    width: 960px;
    margin: 20px auto;
    border-radius: 20px;
}


header {
    padding: 20px;
    text-align: center;
}

header img {
    display: block;
    margin: 20px auto;
    width: 900px;
    height: 300px;
    outline: auto;
}

nav {
    background-color: silver;
    padding: 20px;
    text-align: center;
}

nav a {
    color: black;
    font-size: x-large;
    margin: 0 20px;
}

nav a:hover {
    color: cornflowerblue;
    text-decoration: none;
}

main {
    padding: 20px;

}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 400px;
    outline: auto;
}

footer {
    background-color: silver;
    text-align: center;
    padding: 40px 0;
    border-radius: 0 0 20px 20px;
}

a {
    color: black;
}

a:hover {
    color: cornflowerblue;
    text-decoration: none;
}

h1,h2,h3 {
    color: black;
}