body {
    background-color: #3258A6;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

h1,
h2,
h3 {
    color: #BB222D;
    text-align: center;
}

#container {
    background-color: #468ACC;
}

nav {
    background-color: #85C8F2;
    padding: 2px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
    border-bottom: 2px solid #F2AE2E;
}

nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    background-color: #EEF1EF;
    color: #BB222D;
    text-decoration: none;
    font-size: 1.3em;
    padding: 5px 0;
}

nav li a:hover {
    background-color: #85C8F2;
    color: #468ACC;
    border-color: #EEF1EF;
}

main {
    padding: 20px;
}

aside img {
    margin: 4px auto;
    width: 200px;
    height: 100px;
    border: black;
    border-radius: 20px;
}

.col {
    padding: 10px;
    border-top: 2px solid;
}

footer {
    background-color: #85C8F2;
    color: #BB222D;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;
}

.button {
    display: block;
    width: 100px;
    height: 20px;
    background-color: #EEF1EF;
    color: #BB222D;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 4px solid #F2AE2E;
    border-radius: 20px;
}

.button:hover {
    background-color: #85C8F2;
    color: #468ACC;
    border: #EEF1EF;
}

table {
    border: 4px solid #F2AE2E;
    border-radius: 20px;
    background-color: #EEF1EF;
}

td,
tr {
    border: 2px solid #BB222D;
    border-radius: 20px;
}

@media (min-width: 786px) {
    nav li {
        display: inline-block;
        border: 0;
    }

    nav li a {
        width: 150px;
        margin: 0 5px;
        border-radius: 10px;
        border: 2px solid #F2AE2E;
    }

    main {
        display: flex;
    }

    section,aside {
        padding: 10px;
        margin: 10px;
        border: 2px solid;
        border-radius: 10px;
        background-color: #85C8F2;
    }

    section {
        width: 60%;
    }
    aside {
        width: 40%;
    }

    .col img {
        width: 75%;

    }

    .button {
        margin-left: auto;
        margin-right: auto;
    }

    .single_page {
        width: 100%;
    }

    table img {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
    }

    nav li a {
        width: 150px;
        margin: 0 5px;
        border-radius: 10px;
        border: 2px solid #F2AE2E;
    }

    #lower_area {
        display: flex;
    }

    .col {
       border: 2px solid;
       padding: 10px;
       margin: 10px;
       border-radius: 10px;
    }

    .col img {
        margin: 10px auto;
        width: 150px;
        height: 150px;
    }

    .single_page {
        width: 100%;
    }

    section img {
        height: 21%;
        width: 75%;
    }

    table img {
        width: 100%;
        height: 100%;
    }
}